{% extends "../layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form method="post">
        <span class="win-id govuk-caption-l">{{ data['carrier_orgname'] }}</span>
        <h1 class="govuk-heading-l">Enter the waste carrier's address</h1>

        {{ govukInput({
          label: {
            text: 'Address line 1'
          },
          id: "carrier-address-line-1",
          name: "carrier_address_line_1",
          value: data['carrier_address_line_1'],
          autocomplete: "address-line1"
        }) }}

        {{ govukInput({
          label: {
            text: 'Address line 2 (optional)'
          },
          id: "carrier-address-line-2",
          name: "carrier_address_line_2",
          value: data['carrier_address_line_2'],
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          id: "carrier-address-town",
          name: "carrier_address_town",
          value: data['carrier_address_town'],
          autocomplete: "address-level2",
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          id: "carrier-postcode",
          name: "carrier_postcode",
          value: data['carrier_postcode'],
          autocomplete: "postal-code",
          classes: "govuk-input--width-10"
        }) }}

        <!-- COUNTRY RADIOS -->

        {{ govukRadios({
          classes: "govuk-radios--small",
          name: "carrier_country",
          fieldset: {
            legend: {
              text: "Country",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "england",
              text: "England"
            },
            {
              value: "scotland",
              text: "Scotland"
            },
            {
              value: "wales",
              text: "Wales"
            },
            {
              value: "ni",
              text: "Northern Ireland"
            }
          ]
        }) }}

        <div class="govuk-!-padding-bottom-6"></div>


        <!----- BUTTONS ----->
        <div class="govuk-button-group">
          {{ govukButton({
          text: "Save and continue"
          }) }}
          
          {{ govukButton({
          text: "Save and return to draft",
          classes: "govuk-button--secondary"
          }) }}
      </div>

      </form>

    </div>
  </div>
{% endblock %}
