{% extends "../layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.go(-1)'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      <span class="win-id govuk-caption-l">EWC code: {{ data['ewc'] }}</span>
      Describe the next type of container the waste will be transported in
    </h1>

    <form method="post">
      {{ govukInput({
        hint: {
          text: "This should include information needed for the carrier to check they are picking up the correct waste. For example, 6 yard skip."
        },
        id: "multi-container-type1",
        name: "multi-container-type1",
        value: data['multi-container-type1']
      }) }}

      {{ govukInput({
        label: {
          text: "How many of these containers are there?"
        },
        classes: "govuk-input--width-3",
        id: "multi-container-quantity1",
        name: "multi-container-quantity1",
        value: data['multi-container-quantity1']
      }) }}

      <div class="govuk-!-padding-bottom-6"></div>

      <!----- BUTTONS ----->
      <div class="govuk-button-group">
          {{ govukButton({
          text: "Save and continue"
          }) }}
          
          {{ govukButton({
          text: "Save and return to draft",
          classes: "govuk-button--secondary"
          }) }}
      </div>

    </form>

  </div>
</div>
{% endblock %}
