{% extends "../layout-experimental.html" %}

{% block pageTitle %}
What is the European Waste Catalogue (EWC) code?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
            
            <div class="govuk-form-group">
                <span class="govuk-caption-l">Waste codes and description</span>
                <fieldset class="govuk-fieldset" role="group" aria-describedby="ewc-v2-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        What is the European Waste Catalogue (EWC) code?
                    </h1>
                </legend>
                <div id="ewc-help" class="govuk-body">
                    This can also be called a list of waste (LoW) code. For more help with these codes, <a class="govuk-link" href="https://www.gov.uk/government/publications/waste-classification-technical-guidance">see the waste classification technical guidance</a>.
                </div>

                <div class="govuk-inset-text">
                    If your waste is hazardous the code will identify this. <br>Do not enter an asterisk.
                </div>

                <div class="govuk-!-padding-bottom-3"></div>

                <div class="govuk-label govuk-date-input__label">Enter code</div>
                <div class="govuk-date-input" id="ewc-v2">
                    <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="ewc-v2-input1">
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ewc-v2-input1" name="ewc-v2-input1" type="text" inputmode="numeric">
                    </div>
                    </div>

                    <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="ewc-v2-input2">
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ewc-v2-input2" name="ewc-v2-input2" type="text" inputmode="numeric">
                    </div>
                    </div>

                    <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="ewc-v2-input3">
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ewc-v2-input3" name="ewc-v2-input3" type="text" inputmode="numeric">
                    </div>
                    </div>
                </div>
                </fieldset>
            </div>

            <div class="govuk-!-padding-bottom-6"></div>

            <!----- BUTTONS ----->
            <div class="govuk-button-group">
                {{ govukButton({
                  text: "Continue"
                }) }}
              
                {{ govukButton({
                  text: "Save and return to draft",
                  classes: "govuk-button--secondary"
                }) }}
            </div>

        </form>

    </div>
</div>

{% endblock %}
