{% extends "../layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form method="post">

          <!-- RADIOS -->

            <div class="govuk-form-group">
            <span class="win-id govuk-caption-l">Waste Producers Ltd</span>
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Select the producer's address
                </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="producer-address-select" name="producer-address-select" type="radio" value="1-telford">
                    <label class="govuk-label govuk-radios__label" for="producer-address-select">
                        Unit 1, Stafford Park Industrial Estate, Telford, TF6 3RT, England
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="producer-address-select-2" name="producer-address-select" type="radio" value="2-telford">
                    <label class="govuk-label govuk-radios__label" for="producer-address-select-2">
                        Unit 2, Stafford Park Industrial Estate, Telford, TF6 3RT, England
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="producer-address-select-3" name="producer-address-select" type="radio" value="3-telford">
                    <label class="govuk-label govuk-radios__label" for="producer-address-select-3">
                        Unit 3, Stafford Park Industrial Estate, Telford, TF6 3RT, England
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="producer-address-select-4" name="producer-address-select" type="radio" value="4-telford">
                    <label class="govuk-label govuk-radios__label" for="producer-address-select-4">
                        Unit 4, Stafford Park Industrial Estate, Telford, TF6 3RT, England
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="producer-address-select-5" name="producer-address-select" type="radio" value="5-telford">
                    <label class="govuk-label govuk-radios__label" for="producer-address-select-5">
                        Unit 5, Stafford Park Industrial Estate, Telford, TF6 3RT, England
                    </label>
                </div>
                </div>
            </fieldset>
            </div>

            <p>
                <a href="producer-address-manual">Enter address manually</a>
              </p>

        <div class="govuk-!-padding-bottom-6"></div>

        <!----- BUTTONS ----->
        <div class="govuk-button-group">
            {{ govukButton({
            text: "Save and continue"
            }) }}

            {{ govukButton({
            text: "Save and return to draft",
            classes: "govuk-button--secondary"
            }) }}
        </div>

      </form>

    </div>
  </div>
{% endblock %}
