{% extends "../layout.html" %}

{% block pageTitle %}
What is the European Waste Catalogue (EWC) code?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">

                <div class="govuk-form-group">
                    <h1 class="govuk-heading-l">                  
                        What is the European Waste Catalogue (EWC) code?
                    </h1>
                    
                    <div id="ewc-hint" class="govuk-body">
                        This can also be called a list of waste (LoW) code. For more help with these codes, <a href="https://www.gov.uk/government/publications/waste-classification-technical-guidance">read the waste classification technical guidance</a>.
                    </div>
                    <label class="govuk-label" for="ewc-code">
                        Enter code
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="ewc-code" name="ewc-code" type="text" value="{{data['ewc-code']}}">
                  </div>

            <div class="govuk-!-padding-bottom-6"></div>

            <!----- BUTTONS ----->
            <div class="govuk-button-group">
                {{ govukButton({
                  text: "Continue"
                }) }}
              
                {{ govukButton({
                  text: "Save and return to draft",
                  classes: "govuk-button--secondary"
                }) }}
            </div>

        </form>

    </div>
</div>

{% endblock %}
