{% extends "../layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form method="post">

        <span class="win-id govuk-caption-l">Waste Producers Ltd</span>
        <h1 class="govuk-heading-l">
          Check the producer's address
        </h1>


        <!-- ADDRESS PLAYBACK -->
        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Producer address
            </dt>
            <dd class="govuk-summary-list__value">
                Unit 4<br>
                Stafford Park Industrial Estate <br>
                Telford<br>
                TF6 3RT<br>
                England<br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
        </dl>


          <!-- RADIOS -->
          <div class="govuk-form-group">
            
            <fieldset class="govuk-fieldset" aria-describedby="producer-collect-same-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                Is this where the waste will be collected?
              </legend>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="producer-collect-same2" name="producer-collect-same2" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="producer-collect-same2">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="producer-collect-same2" name="producer-collect-same2" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="producer-collect-same2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

        <div class="govuk-!-padding-bottom-6"></div>

        <!----- BUTTONS ----->
        <div class="govuk-button-group">
            {{ govukButton({
            text: "Save and continue"
            }) }}

            {{ govukButton({
            text: "Save and return to draft",
            classes: "govuk-button--secondary"
            }) }}
        </div>

      </form>

    </div>
  </div>
{% endblock %}
