{% extends "../layout-experimental.html" %}

{% block pageTitle %}
  Amend the waste details
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

        <span class="win-id govuk-caption-l">Waste record: AAAA-4712</span>
      <h1 class="govuk-heading-l">Amend the waste record</h1>

      <p class="govuk-body">Amend the waste details to match what you received.</p>

      <div class="govuk-!-padding-bottom-5"></div>

      <!---------------------  ABOUT THE WASTE ----------------------------------------------------->

        <!---------- SUMMARY CARD ---------->

        <!---------- CARD 1 ---------->

        <div class="govuk-summary-card" id="ewc-card-1">
          <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">EWC 20 01 33<!-- {{ data['ewc-code'] }} --></h2>
          <ul class="govuk-summary-card__actions">
              <!-- <li class="govuk-summary-card__action"> 
                  <a class="govuk-link" href="#">
                  Remove<span class="govuk-visually-hidden">EWC code</span>
                  </a>
              </li> -->
          </ul>
          </div>

          <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
  
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Waste description
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Car batteries
                      <!-- {{data['describe-waste']}} -->
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      <!-- <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">waste description</span>
                      </a> -->
                    </dd>
                  </div>
  
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Physical form
                  </dt>
                  <dd class="govuk-summary-list__value">
                      Solid
                      <!-- {{data['physical_form']}} -->
                  </dd>
                 <dd class="govuk-summary-list__actions">
                      <!-- <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">physcial form</span>
                      </a> -->
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Waste quantity
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">5000kg</p>
                        <!-- {% if data ['waste-amount'] == "actual-kg" %}
                        <p class="govuk-body">Actual<br>{{ data['weight-actual-kg'] }} kg</p>

                        {% elseif data ['waste-amount'] == "estimate-kg" %}
                        <p class="govuk-body">Estimate<br>{{ data['weight-estimate-kg'] }} kg</p>

                        {% elseif data ['waste-amount'] == "actual-litre" %}
                        <p class="govuk-body">Actual<br>{{ data['volume-actual-litres'] }} litres
                        </p>

                        {% elseif data ['waste-amount'] == "estimate-litre" %}
                        <p class="govuk-body">Estimate<br>{{ data['volume-estimate-litres'] }}
                            litres</p>

                        {% elseif data ['waste-amount'] == "unknown" %}
                        <p class="govuk-body">Unknown</p>
                        {% endif %} -->
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="quantity">
                            Change<span class="govuk-visually-hidden"> waste quantity</span>
                        </a>
                    </dd>
                </div>
  
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Hazardous codes
                  </dt>
                  <dd class="govuk-summary-list__value">
                      HP8: Corrosive<br>
                      HP14: Ecotoxic<br>
                    <!-- {{data['haz_codes']}} -->
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      <!-- <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">hazard codes</span>
                      </a> -->
                    </dd>
                  </div>
  
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      POPs details
                  </dt>
                  <dd class="govuk-summary-list__value">
                  {% if data ['pop-check'] == "yes" %}
                    <p class="govuk-body"><br>{{data['pops']}}</p>

                    {% elseif data ['pop-check'] == "no" %}
                    <p class="govuk-body">None</p>
                  {% endif %}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      <!-- <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">POPs details</span>
                      </a> -->
                    </dd>
                  </div>   

          </dl>
          </div>
      </div>
      <!---------- CARD 1 END ---------->

      <!---------- CARD 2 ---------->

      <div class="govuk-summary-card" id="ewc-card-1">
          <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">EWC 20 01 35<!-- {{ data['ewc-code-2'] }} --></h2>
          <ul class="govuk-summary-card__actions">
              <!-- <li class="govuk-summary-card__action"> 
                  <a class="govuk-link" href="#">
                  Remove<span class="govuk-visually-hidden">EWC code</span>
                  </a>
              </li> -->
          </ul>
          </div>

          <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
  
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Waste description
                  </dt>
                  <dd class="govuk-summary-list__value">
                    WEEE (fridges)  
                    <!-- {{data['describe-waste-2']}} -->
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      <!-- <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">waste description</span>
                      </a> -->
                    </dd>
                  </div>
  
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Physical form
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Solid  
                    <!-- {{data['physical_form-2']}} -->
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      <!-- <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">physcial form</span>
                      </a> -->
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Waste quantity
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">750kg</p>
                        <!-- {% if data ['waste-amount-2'] == "actual-kg" %}
                        <p class="govuk-body">Actual<br>{{ data['weight-actual-kg-2'] }} kg</p>

                        {% elseif data ['waste-amount-2'] == "estimate-kg" %}
                        <p class="govuk-body">Estimate<br>{{ data['weight-estimate-kg-2'] }} kg</p>

                        {% elseif data ['waste-amount-2'] == "actual-litre" %}
                        <p class="govuk-body">Actual<br>{{ data['volume-actual-litres-2'] }} litres</p>

                        {% elseif data ['waste-amount-2'] == "estimate-litre" %}
                        <p class="govuk-body">Estimate<br>{{ data['volume-estimate-litres-2'] }} litres</p>

                        {% elseif data ['waste-amount-2'] == "unknown" %}
                        <p class="govuk-body">Unknown</p>
                        {% endif %} -->
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="quantity">
                            Change<span class="govuk-visually-hidden"> waste quantity</span>
                        </a>
                    </dd>
                </div>
  
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Hazardous codes
                  </dt>
                  <dd class="govuk-summary-list__value">
                      HP14: Ecotoxic<br>
                    <!-- {{data['haz_codes-2']}} -->
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      <!-- <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">hazard codes</span>
                      </a> -->
                    </dd>
                  </div>
  
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      POPs details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data ['pop-check-2'] == "yes" %}
                    <p class="govuk-body"><br>{{data['pops-2']}}</p>

                    {% elseif data ['pop-check-2'] == "no" %}
                    <p class="govuk-body">None</p>
                  {% endif %}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      <!-- <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">POPs details</span>
                      </a> -->
                    </dd>
                  </div>  

          </dl>
          </div>
      </div>
      <!---------- CARD 2 END ---------->

      <!---------- CARD 3 ---------->

      <div class="govuk-summary-card" id="ewc-card-1">
        <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">EWC 20 01 28<!-- {{ data['ewc-code-2'] }} --></h2>
        <ul class="govuk-summary-card__actions">
            <!-- <li class="govuk-summary-card__action"> 
                <a class="govuk-link" href="#">
                Remove<span class="govuk-visually-hidden">EWC code</span>
                </a>
            </li> -->
        </ul>
        </div>

        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Waste description
                </dt>
                <dd class="govuk-summary-list__value">
                  Paint  
                  <!-- {{data['describe-waste-2']}} -->
                </dd>
                <dd class="govuk-summary-list__actions">
                    <!-- <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">waste description</span>
                    </a> -->
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Physical form
                </dt>
                <dd class="govuk-summary-list__value">
                  Liquid  
                  <!-- {{data['physical_form-2']}} -->
                </dd>
                <dd class="govuk-summary-list__actions">
                    <!-- <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">physcial form</span>
                    </a> -->
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Waste quantity
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p class="govuk-body">500kg</p>
                      <!-- {% if data ['waste-amount-2'] == "actual-kg" %}
                      <p class="govuk-body">Actual<br>{{ data['weight-actual-kg-2'] }} kg</p>

                      {% elseif data ['waste-amount-2'] == "estimate-kg" %}
                      <p class="govuk-body">Estimate<br>{{ data['weight-estimate-kg-2'] }} kg</p>

                      {% elseif data ['waste-amount-2'] == "actual-litre" %}
                      <p class="govuk-body">Actual<br>{{ data['volume-actual-litres-2'] }} litres</p>

                      {% elseif data ['waste-amount-2'] == "estimate-litre" %}
                      <p class="govuk-body">Estimate<br>{{ data['volume-estimate-litres-2'] }} litres</p>

                      {% elseif data ['waste-amount-2'] == "unknown" %}
                      <p class="govuk-body">Unknown</p>
                      {% endif %} -->
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="receiver-weight-change.html">
                          Change<span class="govuk-visually-hidden"> waste quantity</span>
                      </a>
                  </dd>
              </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Hazardous codes
                </dt>
                <dd class="govuk-summary-list__value">
                    None
                  <!-- {{data['haz_codes-2']}} -->
                </dd>
                <dd class="govuk-summary-list__actions">
                    <!-- <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">hazard codes</span>
                    </a> -->
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    POPs details
                </dt>
                <dd class="govuk-summary-list__value">
                  None
                </dd>
                <dd class="govuk-summary-list__actions">
                    <!-- <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">POPs details</span>
                    </a> -->
                  </dd>
                </div>  

        </dl>
        </div>
    </div>
    <!---------- CARD 3 END ---------->

        <!------ Waste containers  ------>

        <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Waste containers
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              5 sealed IBC containers for batteries, 10 cages for WEEE fridges, 1 ordinary IBC for paint.
              <!-- {{ data['describe-container'] }} --></p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="container-description.html">
              Change<span class="govuk-visually-hidden">waste containers</span>
            </a>
          </dd>
        </div>

        <!------ Handling requirements  ------>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Handling requirements
          </dt>
          <dd class="govuk-summary-list__value">
            Sealed IBC container to be handled with care. Stacked in layers with non-conductive material between each layer of batteries box.
            <!-- {% if data ['handling-require'] == "yes" %}
              <p class="govuk-body"><br>{{ data['handling_needs'] }}</p>

              {% elseif data ['handling-require'] == "no" %}
              <p class="govuk-body">None</p>
            {% endif %} -->
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="handling-requirements.html">
              Change<span class="govuk-visually-hidden">handling requirements
              </dt></span>
            </a>
          </dd> -->
        </div>

        <!------ Producer name  ------>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Waste producer
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Waste Producers Ltd</p>
              <p class="govuk-body">{{ data['producer_orgname'] }}</p>
            </dd>
            <!-- <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="">
                Change<span class="govuk-visually-hidden">Organisation name</span>
              </a>
            </dd> -->
          </div>

        <!------ Collection address  ------>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Waste collection address
            </dt>
            <dd class="govuk-summary-list__value">
              4 Fortune Close<br>
              Riverside Business Park<br>
              Northampton<br>
              NN3 9HZ<br>
              England
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="">
                Change<span class="govuk-visually-hidden">Collection address</span>
              </a>
            </dd>
          </div>

      </dl>

      <div class="govuk-!-padding-bottom-6"></div>


      <!----- BUTTONS ----->
      <div class="govuk-button-group">
        {{ govukButton({
        text: "Confirm and continue"
        }) }}

      </div>

    </form>

  </div>
</div>
<!-- </main>
</div> -->



{% endblock %}