{% extends "../layout.html" %}

{% block pageTitle %}
Waste record updated
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Signed out</h1>
        <!-- DETAILS -->
        <div class="govuk-!-padding-bottom-4"></div>
  
          <p class="govuk-body">You have signed out of <b>Move and track waste</b>.</p>

        <!-- LINKS -->
  
        <p class="govuk-body govuk-!-padding-top-6">
          <a href="journey-select.html" class="govuk-link">Sign in to Move and track waste</a>
        </p>

        <p class="govuk-body govuk-!-padding-top-3">
          <a href="#" class="govuk-link">Go to Defra Customer account</a>
        </p>

    </div>
  </div>

{% endblock %}
