{% extends "../layout.html" %}

<!-- <meta http-equiv="refresh" content="5"/> -->

{% block pageTitle %}
Waste record - Reciever section complete
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
</script>
{% endblock %}

<!---------- BREADCRUMBS ---------->

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index-homepage.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="home-move-waste-uk.html">Move waste in the UK</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="in-progress-add-details.html">Add details to in progress waste records</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Waste record AAA-4712
      </li>
    </ol>
</div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">

        <span class="govuk-caption-l">Record number: AAA-4712</span>
        <h1 class="govuk-heading-l">
            Waste record
        </h1>
        <p class="govuk-body">You’ll be able to check and submit this record once you’ve completed all the sections.</p>

        <!--
  These starting paragraphs should reflect what state the note is currently in, and what the next step is.
  Currently only set up for the first section (about the waste), as that was being tested.
  Need to set up variables/status' so certain info is shown at certain times.
  A switch statement would be good, although may need to set up in routes.js
-->

        {% if (data['section_1_complete'] == 'no') %}
        <!-- <p class="govuk-body">
        This is a new waste note.
      </p> -->
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-7">
            The first step is to enter the initial information.
        </p>

        {% else %}

        {% if (data['section_2_complete'] == 'no') %}
        <!-- <p class="govuk-body">
          This waste note has been saved from when it was last updated.
        </p> -->
        <p class="govuk-body govuk-!-margin-bottom-7">
            The next step is to confirm that all information has been entered correctly.
        </p>
        {% endif %}
        {% endif %}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <div class="govuk-!-padding-bottom-4"></div>

            <!------------------------------- ABOUT WASTE SECTION PLAYBACK - ( accordian ) ------------------------------------------->

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">

                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            <div class="govuk-!-padding-top-2"></div>
                            <strong class="govuk-tag app-task-list__tag" id="waste_details_status">
                                Completed
                            </strong>
                            About the waste
                        </span>

                    </h2>
                </div>

                <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-1">

                    <!-- ACCORDIAN OPEN SECTION-->

                    <!---------------------  ABOUT THE WASTE --------------------->

                    <!---------- SUMMARY CARD ---------->

                    <!---------- CARD 1 ---------->

              <div class="govuk-summary-card" id="ewc-card-1">
                <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">EWC 20 01 33</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"> 
                        <a class="govuk-link" href="#">
                        Remove<span class="govuk-visually-hidden"> EWC code</span>
                        </a>
                    </li>
                </ul>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
        
                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Waste description
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Car batteries
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden"> waste description</span>
                            </a>
                          </dd>
                        </div>
        
                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Physical form
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Solid
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden"> physcial form</span>
                            </a>
                          </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Waste quantity
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Actual<br>5 tonnes</p>
      
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="quantity">
                                    Change<span class="govuk-visually-hidden"> waste quantity</span>
                                </a>
                            </dd>
                          </div>
        
                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Hazardous codes
                        </dt>
                        <dd class="govuk-summary-list__value">
                            HP8: Corrosive, HP14: Ecotoxic, HP15: POPs
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden"> hazard codes</span>
                            </a>
                          </dd>
                        </div>
        
                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            POPs details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            None
                            {{data['pops']}}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden"> POPs details</span>
                            </a>
                          </dd>
                        </div>  

                </dl>
                </div>
            </div>

            <!---------- CARD 2 ---------->

            <div class="govuk-summary-card" id="ewc-card-1">
                <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">EWC 20 01 35</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"> 
                        <a class="govuk-link" href="#">
                        Remove<span class="govuk-visually-hidden"> EWC code</span>
                        </a>
                    </li>
                </ul>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
        
                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Waste description
                        </dt>
                        <dd class="govuk-summary-list__value">
                            WEEE (fridges)
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden"> waste description</span>
                            </a>
                          </dd>
                        </div>
        
                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Physical form
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Solid
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden"> physcial form</span>
                            </a>
                          </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Waste quantity
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Actual<br>750 kg</p>
      
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="quantity">
                                    Change<span class="govuk-visually-hidden"> waste quantity</span>
                                </a>
                            </dd>
                          </div>
        
                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Hazardous codes
                        </dt>
                        <dd class="govuk-summary-list__value">
                            HP14: Ecotoxic, HP15: POPs
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden"> hazard codes</span>
                            </a>
                          </dd>
                        </div>
        
                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            POPs details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            None
                            {{data['pops-2']}}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden"> POPs details</span>
                            </a>
                          </dd>
                        </div>  

                </dl>
                </div>
            </div>

            <!---------- CARD 3 ---------->

        <div class="govuk-summary-card" id="ewc-card-1">
            <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">EWC 20 01 28</h2>
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action"> 
                    <a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> EWC 20 01 33</span>
                    </a>
                </li>
            </ul>
            </div>

            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
    
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Waste description
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Water based paint
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden"> waste description</span>
                        </a>
                      </dd>
                    </div>
    
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Physical form
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Liquid
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden"> physcial form</span>
                        </a>
                      </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          Waste quantity
                      </dt>
                      <dd class="govuk-summary-list__value">
                          <p class="govuk-body">Actual<br>100 kg</p>

                      </dd>
                      <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="quantity">
                              Change<span class="govuk-visually-hidden"> waste quantity</span>
                          </a>
                      </dd>
                    </div>
    
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Hazardous codes
                    </dt>
                    <dd class="govuk-summary-list__value">
                        None
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden">hazard codes</span>
                        </a>
                      </dd>
                    </div>
    
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        POPs details
                    </dt>
                    <dd class="govuk-summary-list__value">
                        None
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden">POPs details</span>
                        </a>
                      </dd>
                    </div>  

            </dl>
            </div>
        </div>

        <!------ Waste containers  ------>

        <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Waste containers
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">5 sealed IBC containers for batteries, 10 cages for WEEE fridges, 1 ordinary IBC for paint.</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="container-description.html">
              Change<span class="govuk-visually-hidden">waste containers</span>
            </a>
          </dd>
        </div>

        <!------ Handling requirements  ------>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Handling requirements
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Sealed IBC container to be handled with care. Stacked in layers with non-conductive material between each layer of batteries box.</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="handling-requirements.html">
              Change<span class="govuk-visually-hidden">handling requirements
              </dt></span>
            </a>
          </dd>
        </div>

      </dl>

      <div class="govuk-!-padding-bottom-4"></div>

                    <!------------------------------- ABOUT WASTE SECTION - PLAYBACK END ------------------------------------------->

                </div><!-- ACCORDIAN OPEN SECTION END -->

                <!------------------------------- PRODUCER SECTION - PLAYBACK ( accordian ) ------------------------------------------->

                <div class="govuk-accordion__section">

                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">

                            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                <div class="govuk-!-padding-top-2"></div>
                                <strong class="govuk-tag app-task-list__tag" id="waste_details_status">
                                    Completed
                                </strong>
                                Producer and collection details
                            </span>

                        </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content"
                        aria-labelledby="accordion-default-heading-3">

                        <!---------------------  PRODUCER / COLLECTION DETAILS ----------------------------------------------------->

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                            <!------ Org name  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Organisation name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">Waste Producers Ltd</p>
                                    <p class="govuk-body">{{ data['producer_orgname'] }}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="">
                                        Change<span class="govuk-visually-hidden"> organisation name</span>
                                    </a>
                                </dd>
                            </div>

                            <!------ Producer address  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Producer address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    4 Fortune Close<br>
                                    Riverside Business Park<br>
                                    Northampton<br>
                                    NN3 9HZ<br>
                                    England<br>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="">
                                        Change<span class="govuk-visually-hidden"> producer address</span>
                                    </a>
                                </dd>
                            </div>

                            <!------ Contact person  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Contact person
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">John Smith</p>
                                    <p class="govuk-body">{{ data['producer-contact-person'] }}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="">
                                        Change<span class="govuk-visually-hidden"> contact person</span>
                                    </a>
                                </dd>
                            </div>

                            <!------ Contact email  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Email address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">john.smith@wasteproducers.co.uk</p>
                                    <p class="govuk-body">{{ data['producer-email'] }}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="">
                                        Change<span class="govuk-visually-hidden"> contact email</span>
                                    </a>
                                </dd>
                            </div>

                            <!------ Contact phone  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Phone number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">07123 456789</p>
                                    <p class="govuk-body">{{ data['producer-phone'] }}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="">
                                        Change<span class="govuk-visually-hidden"> contact phone</span>
                                    </a>
                                </dd>
                            </div>

                            <!------ SIC code  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    SIC code
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">39000<br>
                                        Remediation activities and other waste management services</p>
                                    <p class="govuk-body">{{ data['producer-sic'] }}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="">
                                        Change<span class="govuk-visually-hidden"> producer SIC code</span>
                                    </a>
                                </dd>
                            </div>

                            <!------ Collection address  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Waste collection address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Same as producer address
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="">
                                        Change<span class="govuk-visually-hidden"> collection address</span>
                                    </a>
                                </dd>
                            </div>

                            <!------ Waste source  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                Waste source
                                </dt>
                                <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Household</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden"> waste source</span>
                                </a>
                                </dd>
                            </div>

                            <!------ Producer transport  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Waste transportation
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">Road<br>AB12 CDE</p>

                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="">
                                        Change<span class="govuk-visually-hidden"> waste transportation</span>
                                    </a>
                                </dd>
                            </div>

                        </dl>
                       
                        </div><!-- accordion module end -->


                        <!------------------------------- RECIEVER SECTION PLAYBACK - ( accordian ) ------------------------------------------->

                            <div class="govuk-accordion__section">
    
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
    
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
                                            <div class="govuk-!-padding-top-2"></div>
                                            <strong class="govuk-tag app-task-list__tag" id="waste_receiver_status">
                                                Completed
                                            </strong>
                                            Receiver details
                                        </span>
    
                                    </h2>
                                </div>
                                <div id="accordion-default-content-3" class="govuk-accordion__section-content"
                                    aria-labelledby="accordion-default-heading-5">

                        <!---------------------  RECEIVER DETAILS ----------------------------------------------------->

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                            <!------ Org name  ------>

                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Waste Receivers Ltd</p>
                                <p class="govuk-body">{{ data['receiver_orgname'] }}</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                Change<span class="govuk-visually-hidden"> organisation name</span>
                                </a>
                            </dd>
                            </div>

                            <!------ receiver address  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Receiver address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    3 Tameside Road<br>
                                    Birmingham<br>
                                    B36 6AR<br>
                                    England<br>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden"> receiver address</span>
                                </a>
                                </dd>
                            </div>

                            <!------ Contact person  ------>

                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Contact person
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Maria Fontaine</p>
                                <p class="govuk-body">{{ data['receiver-contact-person'] }}</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                Change<span class="govuk-visually-hidden"> contact person</span>
                                </a>
                            </dd>
                            </div>

                            <!------ Contact email  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                Email address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                <p class="govuk-body">mfontaine@wastereceivers.com</p>
                                <p class="govuk-body">{{ data['receiver-email'] }}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden"> contact email</span>
                                </a>
                                </dd>
                            </div>

                            <!------ Contact phone  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                Phone number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                <p class="govuk-body">07123 456789</p>
                                <p class="govuk-body">{{ data['receiver-phone'] }}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden"> contact phone</span>
                                </a>
                                </dd>
                            </div>

                            <!------ Environmental permit number  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Environmental permit number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                <p class="govuk-body">XXXXXXXXXXXXX<br>
                                <p class="govuk-body">{{ data['receiver-permitnum'] }}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden"> receiver permit</span>
                                </a>
                                </dd>
                            </div>

                            <!------ Registered waste exemption number  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Registered waste exemption number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                <p class="govuk-body">XXXXXXXXXXXXX<br>
                                <p class="govuk-body">{{ data['receiver-exemptnum'] }}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden"> receiver exemption</span>
                                </a>
                                </dd>
                            </div>

                            <!------ Final address  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Waste destination address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Same as receiver address
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden"> waste destination</span>
                                </a>
                                </dd>
                            </div>

                        </dl>  
                        
                        </div><!-- accordion module end -->

                        <!------------------------------- CARRIER SECTION PLAYBACK - ( accordian ) ------------------------------------------->

                        <div class="govuk-accordion__section">
                            
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">

                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                                        <div class="govuk-!-padding-top-2"></div>
                                        <strong class="govuk-tag app-task-list__tag" id="waste_carrier_status">
                                            Completed
                                        </strong>
                                        Carrier details
                                    </span>

                                </h2>
                            </div>
                            <div id="accordion-default-content-3" class="govuk-accordion__section-content"
                                aria-labelledby="accordion-default-heading-4">

                        <!---------------------  CARRIER DETAILS ----------------------------------------------------->

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                        <!------ Org name  ------>

                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Waste Carriers Ltd</p>
                            <p class="govuk-body">{{ data['carrier_orgname'] }}</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="">
                            Change<span class="govuk-visually-hidden">Carrier organisation name</span>
                            </a>
                        </dd>
                        </div>

                        <!------ carrier address  ------>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Carrier address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                1 Hydra Way<br>
                                Seaview Business Park<br>
                                Manchester<br>
                                M1 1EZ<br>
                                England<br>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="">
                                Change<span class="govuk-visually-hidden">Carrier address</span>
                            </a>
                            </dd>
                        </div>

                        <!------ Contact person  ------>

                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact person
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Ellie Davies</p>
                            <p class="govuk-body">{{ data['carrier-contact-person'] }}</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="">
                            Change<span class="govuk-visually-hidden">Contact person</span>
                            </a>
                        </dd>
                        </div>

                        <!------ Contact email  ------>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Email address
                            </dt>
                            <dd class="govuk-summary-list__value">
                            <p class="govuk-body">e.davies@wastecarriers.co.uk</p>
                            <p class="govuk-body">{{ data['carrier-email'] }}</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="">
                                Change<span class="govuk-visually-hidden">Contact email</span>
                            </a>
                            </dd>
                        </div>

                        <!------ Contact phone  ------>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Phone number
                            </dt>
                            <dd class="govuk-summary-list__value">
                            <p class="govuk-body">07123 456789</p>
                            <p class="govuk-body">{{ data['carrier-phone'] }}</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="">
                                Change<span class="govuk-visually-hidden">Contact phone</span>
                            </a>
                            </dd>
                        </div>

                        <!------ Carrier registration number  ------>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Carrier registration number
                            </dt>
                            <dd class="govuk-summary-list__value">
                            <p class="govuk-body">CBXX12345<br>
                            <p class="govuk-body">{{ data['carrier-regnum'] }}</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="">
                                Change<span class="govuk-visually-hidden">carrier registration</span>
                            </a>
                            </dd>
                        </div>

                        <!------ Collection date  ------>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Waste collection date
                            </dt>
                            <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{ data['date-collected'] }}</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="">
                                Change<span class="govuk-visually-hidden"> collection date</span>
                            </a>
                            </dd>
                        </div>

                        </dl>

                        </div><!-- accordion module end -->

                        <div class="govuk-!-padding-bottom-4"></div>

                        <!------------------------------- NEXT STEPS ------------------------------------------->
                        
                        <h2 class="govuk-heading-m">
                            Next steps
                        </h2>
                        <hr class="govuk-section-break--l govuk-section-break--visible">

      

      <!------------ PAYMENT SECTION ------------> <!-- Removed for the time being until we know more (August 2023)-->
<!-- 
      <li class="govuk-!-font-weight-bold govuk-!-font-size-24">
        <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="waste_details_status">
            Not started
        </strong>
        <h2 class="govuk-heading-m">
          Pay for a waste movement
        </h2>
        <p>
          Enter payment details
        </p>
        <a class="govuk-body govuk-link" href="">Enter payment details for this waste movement</a>
        <!-- tag 
        <strong class="govuk-tag govuk-tag--grey">
          cannot start yet
        </strong>
      </li> <!-- end of section

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

      <!------------ CONFIRMATION SECTION ------------> 

        <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="waste_details_status">
            Not started
        </strong>
        <h2 class="govuk-heading-m">
          Receiver confirmation
        </h2>

        <a class="govuk-body govuk-link" href="receiver-confirm.html">Confirm or reject the waste you received and enter the relevant waste treatment codes</a>

        <div class="govuk-!-padding-bottom-6"></div>

      <!-- end of section -->


        <div class="govuk-!-padding-bottom-8"></div>

        <!----- BUTTONS ----->
        <div class="govuk-button-group">
            {{ govukButton({
            text: "Submit this waste record"
            }) }}

            {{ govukButton({
            text: "Return to this record later",
            classes: "govuk-button--secondary"
            }) }}
        </div>

    </div>

    </form> 

    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}