{% extends "../layout.html" %}

{% block pageTitle %}
Check your answers - Handling requirements
{% endblock %}


{% block content %}

<!-- <div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main"> -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

          <span class="win-id govuk-caption-l">Receiver confirmation</span>
          <h1 class="govuk-heading-l">Check your answers</h1>

          <!---------------------  HANDLING REQUIREMENTS ----------------------------------------------------->

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <!------ Waste confirm check  ------>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Waste details correct
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data ['receiver-confirm'] == "Yes" %} 
                  <p class="govuk-body">Yes</p>
  
                  {% elseif data ['receiver-confirm'] == "No" %}
                  <p class="govuk-body">No</p>
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="receiver-confirm.html">
                    Change<span class="govuk-visually-hidden">waste correct check</span>
                  </a>
                </dd>
              </div>

            <!------ Waste quantity received  ------>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Waste quantity received
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">112 tonnes</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="receiver-confirm-quantity.html">
                  Change<span class="govuk-visually-hidden">quantity received</span>
                </a>
              </dd>
            </div>


            <!------ Date waste received  ------>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date waste received
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">16 August 2023</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="receiver-confirm-date.html">
                  Change<span class="govuk-visually-hidden">waste received date</span>
                </a>
              </dd>
            </div>

            <!------ Waste treatment  ------>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Waste treatment
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">{{ data['receiver_treatment'] }}</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="receiver-treatment-select.html">
                    Change<span class="govuk-visually-hidden">waste treatment</span>
                  </a>
                </dd>
              </div>

              <!------ Recovery code  ------>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Recovery code
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">R01.04.01</p>
                  <p class="govuk-body">{{ RDcodes }}</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="receiver-RDcode-add-another.html">
                    Change<span class="govuk-visually-hidden">recovery code</span>
                  </a>
                </dd>
            </div>

              <!------ Disposal code  ------>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Disposal code
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">D10.01.07</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="receiver-RDcode-add-another.html">
                    Change<span class="govuk-visually-hidden">disposal code</span>
                  </a>
                </dd>
            </div>

          </dl>


          <!---------- SECTION COMPLETED RADIOS ---------->

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="section-seven-complete-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                Have you completed this section?
              </legend>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="section-seven-complete" name="section-seven-complete" type="radio"
                    value="Yes">
                  <label class="govuk-label govuk-radios__label" for="section-seven-complete">
                    Yes, I’ve completed this section
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="section-seven-complete" name="section-seven-complete" type="radio"
                    value="No">
                  <label class="govuk-label govuk-radios__label" for="section-seven-complete">
                    No, I’ll come back later
                  </label>
                </div>

              </div>
            </fieldset>
          </div>

          <div class="govuk-!-padding-bottom-6"></div>


          <!----- BUTTONS ----->
          <div class="govuk-button-group">
            {{ govukButton({
            text: "Confirm and continue"
            }) }}

          </div>

        </form>

      </div>
    </div>
  <!-- </main>
</div> -->

{% endblock %}