{% extends "../layout.html" %}

<!-- <meta http-equiv="refresh" content="5"/> -->

{% block pageTitle %}
{{serviceName}}
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
</script>
{% endblock %}

<!---------- BREADCRUMBS ---------->

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="index-homepage.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="home-move-waste-uk.html">Move waste in the UK</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            Tell us about some waste
        </li>
    </ol>
</div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Start a waste record
            <span class="win-id govuk-caption-l">ID: AAAA-4712</span>
        </h1>

        <!--
  These starting paragraphs should reflect what state the note is currently in, and what the next step is.
  Currently only set up for the first section (about the waste), as that was being tested.
  Need to set up variables/status' so certain info is shown at certain times.
  A switch statement would be good, although may need to set up in routes.js
-->

        {% if (data['section_1_complete'] == 'no') %}
        <!-- <p class="govuk-body">
        This is a new waste note.
      </p> -->
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-7">
            The first step is to enter the initial information.
        </p>

        {% else %}

        {% if (data['section_2_complete'] == 'no') %}
        <!-- <p class="govuk-body">
          This waste note has been saved from when it was last updated.
        </p> -->
        <p class="govuk-body govuk-!-margin-bottom-7">
            The next step is to confirm that all information has been entered correctly.
        </p>
        {% endif %}
        {% endif %}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <ol class="govuk-list govuk-list--number govuk-list--spaced">

            <div class="govuk-!-padding-bottom-4"></div>

            <!-- section 1 -->

            <!------------------------------- SECTION 1 PLAYBACK - ( accordian ) ------------------------------------------->

            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                <li class="govuk-!-font-weight-bold govuk-!-font-size-24">

                    <div class="govuk-accordion__section">

                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">

                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <div class="govuk-!-padding-top-2"></div>
                                    <strong class="govuk-tag app-task-list__tag" id="waste_details_status">
                                        Completed
                                    </strong>
                                    About the waste
                                </span>

                            </h2>
                        </div>

                        <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                            aria-labelledby="accordion-default-heading-1">

                            <!-- ACCORDIAN OPEN SECTION-->

                            <!---------------------  ABOUT THE WASTE --------------------->

                            <dl class="govuk-summary-list govuk-!-margin-bottom-5">

                                <!------ EWC code  ------>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        EWC code
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {% if data ['ec-code'] == "Yes" %}
                                        <p class="govuk-body">{{ data['ewc-wastes-typeahead'] }}</p>

                                        {% elseif data ['ec-code'] == "No" %}
                                        <p class="govuk-body">Not provided</p>
                                        {% endif %}

                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="ewc-add-another.html">
                                            Change<span class="govuk-visually-hidden"> EWC codes</span>
                                        </a>
                                    </dd>
                                </div>

                                <!------ Waste description  ------>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Waste description
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p class="govuk-body">{{ data['describe-waste'] }}</p>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="waste-description">
                                            Change<span class="govuk-visually-hidden"> waste description</span>
                                        </a>
                                    </dd>
                                </div>

                                <!------ Waste form  ------>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Waste form
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p class="govuk-body">{{ data['physical_form'] }}</p>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="physical-form.html">
                                            Change<span class="govuk-visually-hidden"> waste form</span>
                                        </a>
                                    </dd>
                                </div>

                                <!------ Waste container  ------>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Waste container
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p class="govuk-body">
                                            {% if data ['container'] == "container-one" %}
                                        <p class="govuk-body">{{ data['one-container_quantity'] }}</p>
                                        <p class="govuk-body">{{ data['one-container_type'] }}</p>

                                        {% elseif data ['container'] == "container-multiple" %}
                                        <p class="govuk-body">{{ data['multi-container-quantity'] }}</p>
                                        <p class="govuk-body">{{ data['multi-container-type'] }}</p>
                                        <p class="govuk-body">{{ data['multi-container-quantity1'] }}</p>
                                        <p class="govuk-body">{{ data['multi-container-type1'] }}</p>

                                        {% elseif data ['container'] == "loose" %}
                                        <p class="govuk-body">Loose (not in a container)</p>
                                        {% endif %}
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="container">
                                            Change<span class="govuk-visually-hidden"> container</span>
                                        </a>
                                    </dd>
                                </div>

                                <!------ Waste quantity  ------>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Waste quantity
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p class="govuk-body">
                                            {% if data ['waste-amount'] == "actual-kg" %}
                                        <p class="govuk-body">Actual<br>{{ data['weight-actual-kg'] }} 123 kg</p>

                                        {% elseif data ['waste-amount'] == "estimate-kg" %}
                                        <p class="govuk-body">Estimate<br>{{ data['weight-estimate-kg'] }} 123 kg</p>

                                        {% elseif data ['waste-amount'] == "actual-litre" %}
                                        <p class="govuk-body">Actual<br>{{ data['volume-actual-litres'] }} 123 litres
                                        </p>

                                        {% elseif data ['waste-amount'] == "estimate-litre" %}
                                        <p class="govuk-body">Estimate<br>{{ data['volume-estimate-litres'] }} 123
                                            litres</p>

                                        {% elseif data ['waste-amount'] == "unknown" %}
                                        <p class="govuk-body">Unknown</p>
                                        {% endif %}

                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="quantity">
                                            Change<span class="govuk-visually-hidden"> waste quantity</span>
                                        </a>
                                    </dd>
                                </div>

                            </dl>

                            <!------------------------------- SECTION 1 PLAYBACK END ------------------------------------------->

                        </div><!-- ACCORDIAN OPEN SECTION END -->

                        <!------------------------------- SECTION 2 PLAYBACK - ( accordian ) ------------------------------------------->

                        <li class="govuk-!-font-weight-bold govuk-!-font-size-24">

                        <div class="govuk-accordion__section">

                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">

                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                        <div class="govuk-!-padding-top-2"></div>
                                        <strong class="govuk-tag app-task-list__tag" id="waste_details_status">
                                            Completed
                                        </strong>
                                        Handling requirements
                                    </span>

                                </h2>
                            </div>
                            <div id="accordion-default-content-2" class="govuk-accordion__section-content"
                                aria-labelledby="accordion-default-heading-2">

                        <!---------------------  HANDLING REQUIREMENTS ----------------------------------------------------->

                            <dl class="govuk-summary-list govuk-!-margin-bottom-5">

                                    <!------ Haz code  ------>

                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Hazardous codes
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            <p class="govuk-body">HP1: Explosive</p>
                                            <p class="govuk-body">HP3: Flammable</p>
                                            <!-- {% if data ['hazard_codes'] == "HP1: Explosive" %}  -->


                                            <!-- {% elseif data ['hazard_codes'] == "HP2: Oxidising" %} 
                                            <p class="govuk-body">HP2: Oxidising</p> -->

                                            <!-- {% elseif data ['hazard_codes'] == "HP3: Flammable" %} 
                                            -->

                                            <!-- {% elseif data ['hazard_codes'] == "HP4: Irritant" %}  -->
                                            <!-- <p class="govuk-body">HP4: Irritant</p> -->

                                            <!-- {% elseif data ['hazard_codes'] == "HP5: Harmful" %} 
                                            <p class="govuk-body">HP5: Harmful</p> -->

                                            <!--     {% elseif data ['hazard_codes'] == "No" %} 
                                            <p class="govuk-body">None of these hazardous properties apply to the waste</p>

                                            {% endif %} -->

                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            <a class="govuk-link" href="">
                                                Change<span class="govuk-visually-hidden"> Hazardous codes</span>
                                            </a>
                                        </dd>
                                    </div>

                                    <!------ Handling requirements check  ------>

                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Any handling requirements
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            {% if data ['handling-require'] == "yes" %}
                                            <p class="govuk-body">Yes</p>

                                            {% elseif data ['handling-require'] == "no" %}
                                            <p class="govuk-body">No</p>
                                            {% endif %}

                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            <a class="govuk-link" href="">
                                                Change<span class="govuk-visually-hidden"> handling check</span>
                                            </a>
                                        </dd>
                                    </div>

                                    <!------ Handling requirement details  ------>

                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Handling requirement details
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            <p class="govuk-body">{{ data['handling_needs'] }}</p>
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            <a class="govuk-link" href="">
                                                Change<span class="govuk-visually-hidden"> handling details</span>
                                            </a>
                                        </dd>
                                    </div>

                                    <!------ POPs check  ------>

                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Waste contains POPs
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            {% if data ['pop-check'] == "yes" %}
                                            <p class="govuk-body">Yes</p>

                                            {% elseif data ['pop-check'] == "no" %}
                                            <p class="govuk-body">No</p>
                                            {% endif %}

                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            <a class="govuk-link" href="">
                                                Change<span class="govuk-visually-hidden"> handling check</span>
                                            </a>
                                        </dd>
                                    </div>

                                    <!------ POPs details  ------>

                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            POPs details
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            <p class="govuk-body">{{ data['pops-typeahead'] }}</p>
                                            <p class="govuk-body">Perfluorooctane sulfonic acid (PFOS) and PFOS
                                                derivatives</p>
                                            <p class="govuk-body">Bis(pentabromophenyl) ether (decabromodiphenyl ether,
                                                decaBDE)</p>
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            <a class="govuk-link" href="ewc-add-another.html">
                                                Change<span class="govuk-visually-hidden">pops list</span>
                                            </a>
                                        </dd>
                                    </div>

                            </dl>

                            </div>
                        <!-- ACCORDIAN OPEN SECTION END -->

                        <!------------------------------- SECTION 3 PLAYBACK - ( accordian ) ------------------------------------------->

                        <li class="govuk-!-font-weight-bold govuk-!-font-size-24">

                            <div class="govuk-accordion__section">
    
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
    
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                            <div class="govuk-!-padding-top-2"></div>
                                            <strong class="govuk-tag app-task-list__tag" id="waste_details_status">
                                                Completed
                                            </strong>
                                            Producer and collection details
                                        </span>
    
                                    </h2>
                                </div>
                                <div id="accordion-default-content-3" class="govuk-accordion__section-content"
                                    aria-labelledby="accordion-default-heading-3">

                        <!---------------------  PRODUCER / COLLECTION DETAILS ----------------------------------------------------->

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                            <!------ Org name  ------>

                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Waste Producers Ltd</p>
                                <p class="govuk-body">{{ data['producer_orgname'] }}</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                Change<span class="govuk-visually-hidden">Organisation name</span>
                                </a>
                            </dd>
                            </div>

                            <!------ Producer address  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Producer address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    4 Fortune Close<br>
                                    Riverside Business Park<br>
                                    Northampton<br>
                                    NN3 9HZ<br>
                                    England<br>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden">Producer address</span>
                                </a>
                                </dd>
                            </div>

                            <!------ Contact person  ------>

                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Contact person
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">John Smith</p>
                                <p class="govuk-body">{{ data['producer-contact-person'] }}</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                Change<span class="govuk-visually-hidden">Contact person</span>
                                </a>
                            </dd>
                            </div>

                            <!------ Contact email  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                Email address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                <p class="govuk-body">john.smith@wasteproducers.co.uk</p>
                                <p class="govuk-body">{{ data['producer-email'] }}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden">Contact email</span>
                                </a>
                                </dd>
                            </div>

                            <!------ Contact phone  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                Phone number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                <p class="govuk-body">07123 456789</p>
                                <p class="govuk-body">{{ data['producer-phone'] }}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden">Contact phone</span>
                                </a>
                                </dd>
                            </div>

                            <!------ SIC code  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                SIC code
                                </dt>
                                <dd class="govuk-summary-list__value">
                                <p class="govuk-body">39000<br>
                                    Remediation activities and other waste management services</p>
                                <p class="govuk-body">{{ data['producer-sic'] }}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden">Producer sic</span>
                                </a>
                                </dd>
                            </div>

                            <!------ Collection address  ------>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Waste collection address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Same as producer address
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="">
                                    Change<span class="govuk-visually-hidden">Collection address</span>
                                    </a>
                                </dd>
                                </div>

                        </dl>

                        
                        </div><!-- accordion module end -->

                        <div class="govuk-!-padding-bottom-8"></div>

                        <!------------------------------- NEXT STEPS ------------------------------------------->

                        
                        
                        <h2 class="govuk-heading-m">
                            Next steps
                        </h2>
                        <hr class="govuk-section-break--l govuk-section-break--visible">


        <!------------ SECTION 4 ------------>

      <li class="govuk-!-font-weight-bold govuk-!-font-size-24">
        <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="waste_details_status">
            Not started
        </strong>
        <h2 class="govuk-heading-m">
          Carrier details and transport
        </h2>
        <p>
          Enter details for the waste carrier and transport.
        </p>
        <a class="govuk-body govuk-link" href="carrier-prepopulate.html">Enter details for moving the waste</a>
        <!-- tag 
        <strong class="govuk-tag govuk-tag--grey">
          cannot start yet
        </strong> <!-- end of section 4 -->
      </li>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <!------------ SECTION 5 ------------>

      <li class="govuk-!-font-weight-bold govuk-!-font-size-24">
        <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="waste_details_status">
            Not started
        </strong>
        <h2 class="govuk-heading-m">
          Receiver details
        </h2>
        <p>
          Enter details for where the waste will go.
        </p>
        <a class="govuk-body govuk-link" href="">Enter details of the waste destination</a>
        <!-- tag 
        <strong class="govuk-tag govuk-tag--grey">
          cannot start yet
        </strong>
      </li> <!-- end of section 5 -->

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <!------------ SECTION 6 ------------> <!-- Removed for the time being until we know more (August 2023)-->

      <!-- <li class="govuk-!-font-weight-bold govuk-!-font-size-24">
        <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="waste_details_status">
            Not started
        </strong>
        <h2 class="govuk-heading-m">
          Pay for a waste movement
        </h2>
        <p>
          Enter payment details
        </p>
        <a class="govuk-body govuk-link" href="">Enter payment details for this waste movement</a>
        <!-- tag 
        <strong class="govuk-tag govuk-tag--grey">
          cannot start yet
        </strong>
      </li> <!-- end of section 6 

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

      <!------------ SECTION 7 ------------>

      <li class="govuk-!-font-weight-bold govuk-!-font-size-24">
        <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="waste_details_status">
            Cannot start yet
        </strong>
        <h2 class="govuk-heading-m">
          Receiver confirmation
        </h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>check the details of the waste are accurate</li>
          <li>add the relevant waste treatment code</li>
          <li>confirm that the waste has arrived at the receiving site</li>
        </ul>
        <!---<a class="govuk-body govuk-link" href="">Check and confirm the receipt of waste</a>-->
        <!-- <tag><strong class="govuk-tag govuk-tag--grey">cannot start yet</strong></tag> -->

      </li> <!-- end of section 7 -->


    </ol>

        <div class="govuk-!-padding-bottom-8"></div>

        <!----- BUTTONS ----->
        <div class="govuk-button-group">
            <a href="home-move-waste-uk.html">
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Return to this note later
                </button>
            </a>
        </div>

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}