{% extends "layout.html" %}


{# ----- Update the version number in the Phase banner here ------ #}
{% block beforeContent %}
 <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
      </strong>
      <span class="govuk-phase-banner__text">
        Version 20 - This is not a live service.
      </span>
    </p>
  </div>

  {# ----- account navigation options ------ #}
  <div class="banner-nav">
      <div class="banner-nav_account" id="account">
        <a class="govuk-link--no-underline" href="index-homepage">Account home</a>
      </div>
      <div class="banner-nav_item" id="notifications">
        <a class="govuk-link--no-underline" href="home-notifications">Notifications</a>
      </div>
      <div class="banner-nav_item" id="payments">
        Payments and charging
        <div class="banner-nav_active"></div>
      </div>
      <div class="banner-nav_item" id="profile">
        <a class="govuk-link--no-underline" href="home-settings">Profile and settings</a>
      </div>
      <div class="banner-nav_signout" id="signout">
        <a class="govuk-link--no-underline" href="signout-modal">Sign out</a>
      </div>
  </div>

{% endblock %}
