

{% extends "../layout.html" %}

{% block pageTitle %}
Move waste in the UK - Correct all waste record errors 
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
        </strong>
        <span class="govuk-phase-banner__text">
        Version 19.1 - This is not a live service.
        </span>
    </p>
  </div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="">Waste tracking service</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="dashboard">Green list waste overview</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="bulk-upload.html">Upload multiple exports</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Check and correct errors
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!--------- ERROR SUMMARY ------------------->

<div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
        <h2 class="govuk-error-summary__title">
          You have 4 errors
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list">
                <li>
                  Review the guidance on <a href="bulk-guidance.html" target="_blank" class="govuk-link">how to create multiple waste records using the CSV template (opens in new tab)</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--------- ERROR DETAILS TABLE ------------------->

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Correct all errors for row 24</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Error</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">No information entered for waste description</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Enter an email address in the correct format, like name@example.com</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Date is not in the correct format for example, DD MM YYYY</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Date entered must be in the future</td>
              </tr>
    
            </tbody>
          </table>

          <div class="govuk-!-padding-bottom-4"></div>

          <form class="form" method="post">
  
            <!----- BUTTONS ----->
            <div class="govuk-button-group">
              {{ govukButton({
              text: "Go back to error summary table",
              classes: "govuk-button--secondary"
              }) }}
            </div>
            
            </form>

    </div>
</div>

{% endblock %}
