
{% extends "../layout_notifications.html" %}

{% block pageTitle %}
Move and track waste - notifications
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">Waste organisation name</span>
    <h1 class="govuk-heading-xl">
      John Smith
    </h1>

    <div>
      <h2 class="govuk-heading-l">
        Notifications will be here
      </h2>

      <div class="div-line"></div>
    </div>

  </div>
</div>

{% endblock %}
